@model MyBlog.DataLayer.Entities.Page.Page
@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="main-content main-content-blog single right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a href="index-2.html">خانه</a>
                        </li>
                        <li class="trail-item">
                            <a href="#">وبلاگ ما</a>
                        </li>
                        <li class="trail-item trail-end active">
                            @Model.PageTitle
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area content-blog col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="site-main">
                    <div class="post-item">
                        <div class="post-format">
                            @if (Model.ImageName != null)
                            {
                                <a href="#">
                                    <img src="/PageImages/@Model.ImageName" alt="@Model.PageTitle" title="@Model.PageTitle" class="thumbnail">
                                </a>
                            }
                        </div>
                        <div class="post-infor">
                            <div class="category-blog">
                                <a href="#">سبک زندگی</a>
                            </div>
                            <h3 class="post-title">
                                <a href="#">طراح جدید مبلمان فضای باز</a>
                            </h3>
                            <div class="main-info-post">
                                <p>
                                    @Html.Raw(@Model.PageText)

                                </p>

                                <div class="author">
                                    <span class="name">
                                        ملیکا خلیلیان
                                    </span>
                                    <span class="desc">
                                        کپی رایت خلاق
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="tags tags-blog">
                        <h3 class="widgettitle">
                            برچسب ها:
                        </h3>
                        <ul class="tagcloud">
                            @foreach (var item in Model.PageTags.Split('-'))
                            {
                                <li class="tag-cloud-link">
                                    <a href="#">@item</a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="view-share">
                        <div class="author-view">
                            <div class="author">
                                <a class="btn btn-success ">تشکر میکنم</a>
                            </div>
                            <div class="review">
                                <div class="view">
                                    <span class="icon-view">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                    <span class="count">
                                        631
                                    </span>
                                </div>
                                <div class="s-comments">
                                    <span class="icon-cmt">
                                        <i class="fa fa-commenting" aria-hidden="true"></i>
                                    </span>
                                    <span class="count">
                                        82
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="share">
                            <h3 class="title">اشتراک گذاری</h3>
                            <i class="icon fa fa-facebook-square" aria-hidden="true"></i>
                            <i class="icon fa fa-linkedin" aria-hidden="true"></i>
                            <i class="icon fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div id="vot">


                    </div>


                    <div id="adminvote">


                    </div>

                    <div class="comments-area">
                        <h3 class="custom_blog_title">
                            نظرات <span class="count">(2)</span>
                        </h3>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="News" asp-action="CreateComment"
                                  data-ajax="true"
                                  data-ajax-method="post"
                                  data-ajax-mode="replace"
                                  data-ajax-update="#listComment"
                                  data-ajax-success="Success"
                                  class="comment-form">
                                <input type="hidden" name="comment.PageId" value="@Model.PageID" />

                                <p class="comment-reply-content">
                                    <textarea rows="6" id="comment_Comment" name="comment.Comment" placeholder="دیدگاه خود را بنویسید..." class="input-form"></textarea>
                                </p>
                                <p class="form-submit">
                                    <span class="controll">
                                        <i class="icon fa fa-file-image-o" aria-hidden="true"></i>
                                        <i class="icon fa fa-paperclip" aria-hidden="true"></i>
                                        <i class="icon fa fa-smile-o" aria-hidden="true"></i>
                                        <button class="submit button">نظر دهید</button>
                                    </span>
                                </p>
                            </form>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                جهت درج نظر باید وارد سایت شوید
                            </div>
                        }
                        <ul class="comment-list">
                            <li class="comment">
                                <div class="comment-list" id="listComment">

                                </div>

                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts
    {
    <script src="/assets/js/jquery.unobtrusive-ajax.js"></script>
    <script>
        function Success() {
            $("#comment_Comment").val("");
        }

        $(function() {
            $("#listComment").load("/News/ShowComment/" + @Model.PageID);
        });

        function pageComment(pageid) {
            $("#listComment").load("/News/ShowComment/" + @Model.PageID+"?pageId="+pageid);
        }



         $(function() {
             $("#vot").load("/News/PageVote/@Model.PageID");
                });

        


          @if (ViewData["Checkrole"] != null )
          {


            $(function () {
                $("#adminvote").load("/News/PageVoteAdmin/@Model.PageID");
              });

               }

              function vote(vote) {
            $("#vot").fadeOut('slow');
             $("#vot").load("/News/AddVote/@(Model.PageID)?vote=" + vote);
            $("#vot").fadeIn('slow');
              }


    </script>
}
